Integers

In [1]:
print(123123123123123123123123123 + 1)

123123123123123123123123124

In [5]:
print(10)
print(type(10))

10
<class 'int'>

In [6]:
print(4.2)
print(type(4.2))

print(4.)

print(.2)

print(.4e7)

print(4.2e-4)

4.2
<class 'float'>
4.0
0.2
4000000.0
0.00042

Strings

In [7]:
print("Hactiv8")
print(type("Hacktiv8"))

Hactiv8
<class 'str'>

In [8]:
print('')

In [11]:
print("This string contains a single quote (') character.")
print('This string contains a double quote (") character.')

This string contains a single quote (') character.
This string contains a double quote (") character.

Boolean Type, Boolean Context, and "Truthiness"

In [12]:
print(type(True))
print(type(False))

<class 'bool'>
<class 'bool'>

Variable Assignment

In [13]:
n = 300

In [14]:
print(n)

300

In [15]:
n

300

In [16]:
n = 1000
print(n)

n

1000

1000

In [17]:
a = b = c = 300
print(a, b, c)

300 300 300

Variable Types in Python

In [18]:
var = 23.5
print(var)

var = "Now 1'm a string"
print(var)

23.5
Now 1'm a string

Variable Names

In [19]:
name = "Hactiv8"
Age = 54
has_laptops = True
print(name, Age, has_laptops)

Hactiv8 54 True

In [20]:
age = 1
Age = 2
aGe = 3
AGE = 4
a_g_e = 5
_age = 6
age_ = 7
_AGE_ = 8

print(age, Age, aGe, AGE, a_g_e, _age, age_, _AGE_)

1 2 3 4 5 6 7 8

Operators and Expressions in Python

In [21]:
a = 10
b = 20
a + b

30

In [22]:
a + b - 5

25

Arithmetic Operators

In [23]:
a = 4
b = 3

print(a + b)
print(a - b)
print(a * b)
print(a / b)
print(a % b)
print(a ** b)

7
1
12
1.3333333333333333
1
64

In [24]:
10 / 5

2.0

Comparison Operators

In [1]:
a = 10
b = 20
print( a == b)

print( a != b)

print( a <= b)

print( a >= b)

a = 30
b = 30
print(a == b)

print(a <= b)

print(a >= b)

print(a != b)

False
True
True
False
True
True
True
False

String Manipulation

In [28]:
s = 'foo'
t = 'bar'
u = 'baz'

print(s + t)

print(s + t + u)


print('Hacktiv8 ' + 'PTP')

foobar
foobarbaz
Hacktiv8 PTP

In [29]:
s = 'foo.'

s * 4

'foo.foo.foo.foo.'

In [30]:
s = 'foo'

print(s in 'That food for us')
print(s in 'That good for us')

True
False

In [31]:
s = 'HackTIV8'

print(s.capitalize())
print(s.lower())
print(s.swapcase())
print(s.title())
print(s.upper())

Hacktiv8
hacktiv8
hACKtiv8
Hacktiv8
HACKTIV8

Python List

In [32]:
a = ['foo', 'bar', 'baz', 'qux']
print(a)

['foo', 'bar', 'baz', 'qux']

List Are Ordered

In [34]:
a = ['foo', 'bar', 'baz', 'qux']
b = ['baz', 'qux', 'bar', 'foo']

a == b

False

Lists Can Contain Arbitary Objects

In [35]:
a = [21.42, 'foobar', 3, 4, 'bark', False, 3.14159]

print(a)

[21.42, 'foobar', 3, 4, 'bark', False, 3.14159]

List Elements Can Be Accessed by Index

In [36]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

In [37]:
print(a[0])
print(a[5])

foo
corge

In [39]:
print(a[-1])
print(a[-6])

corge
foo

In [40]:
a[2:5]

['baz', 'qux', 'quux']

In [42]:
print(a)

print(a + ['grault', 'garply'])
print(a * 2)

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
['foo', 'bar', 'baz', 'qux', 'quux', 'corge', 'grault', 'garply']
['foo', 'bar', 'baz', 'qux', 'quux', 'corge', 'foo', 'bar', 'baz', 'qux', 'quux', 'corge']

In [43]:
print (a)

print(len(a))
print(min(a))
print(max(a))

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
6
bar
qux

Modifying a Single List Value

In [44]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

print(a)

a[2] = 10
a[-1] = 20

print(a)

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
['foo', 'bar', 10, 'qux', 'quux', 20]

In [45]:
print(a)

['foo', 'bar', 10, 'qux', 'quux', 20]

Modifying a Multiple List Value

In [46]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

print(a[1:4])

a[1:4] = [1.1, 2.2, 3.3, 4.4, 5.5]

print(a)

['bar', 'baz', 'qux']
['foo', 1.1, 2.2, 3.3, 4.4, 5.5, 'quux', 'corge']

Python Tuples

In [47]:
t = ('foo', 'bar', 'baz', 'quz', 'quux', 'corge')

print(t)

('foo', 'bar', 'baz', 'quz', 'quux', 'corge')

In [48]:
print(t[0])

print(t[-1])

foo
corge

In [50]:
(s1, s2, s3, s4) = ('foo', 'bar', 'baz', 'qux')

s1

'foo'

Python Dictionary

In [51]:
MLB_team = {
    'Colorado' : 'Rockies',
    'Boston' : 'Red Sox',
    'Minnesota' : 'Twins',
    'Milwaukee' : 'Brewers',
    'Seattle' : 'Mariners'
}

Accessing Dictionary Values

In [52]:
print(MLB_team['Minnesota'])
print(MLB_team['Colorado'])

Twins
Rockies

In [53]:
MLB_team['Kansas City'] = 'Royals'
MLB_team

{'Colorado': 'Rockies',
 'Boston': 'Red Sox',
 'Minnesota': 'Twins',
 'Milwaukee': 'Brewers',
 'Seattle': 'Mariners',
 'Kansas City': 'Royals'}

In [54]:
MLB_team['SEattle'] = 'Seahawks'
MLB_team

{'Colorado': 'Rockies',
 'Boston': 'Red Sox',
 'Minnesota': 'Twins',
 'Milwaukee': 'Brewers',
 'Seattle': 'Mariners',
 'Kansas City': 'Royals',
 'SEattle': 'Seahawks'}

In [55]:
del MLB_team['Seattle']
MLB_team

{'Colorado': 'Rockies',
 'Boston': 'Red Sox',
 'Minnesota': 'Twins',
 'Milwaukee': 'Brewers',
 'Kansas City': 'Royals',
 'SEattle': 'Seahawks'}

Building a Dictionary Incrementally

In [64]:
person = {}
type(person)

person['fname'] = 'Hack'
person['lname'] = 'PTP'
person['age'] = 51
person['spouse'] = 'Edna'
person['children'] = ['Ralph', 'Betty', 'Joey']
person['pets'] = {'dog': 'Fido', 'cat': 'Sox'}

In [65]:
person

{'fname': 'Hack',
 'lname': 'PTP',
 'age': 51,
 'spouse': 'Edna',
 'children': ['Ralph', 'Betty', 'Joey'],
 'pets': {'dog': 'Fido', 'cat': 'Sox'}}

In [66]:
print(person['fname'])
print(person['lname'])

Hack
PTP

In [67]:
print(person['children'])
print(person['children'][1])

['Ralph', 'Betty', 'Joey']
Betty

In [68]:
print(person['pets'])
print(person['pets']['cat'])

{'dog': 'Fido', 'cat': 'Sox'}
Sox

In [69]:
d = {'a': 10, 'b': 20, 'c': 30}

print(d.items())
print(d.keys())
print(d.values())

dict_items([('a', 10), ('b', 20), ('c', 30)])
dict_keys(['a', 'b', 'c'])
dict_values([10, 20, 30])

Line Continuation

In [76]:
person1_age = 42
person2_age = 16
person3_age = 71

someone_is_of_working_age = (person1_age >= 18 and person1_age <= 65) or (person2_age >= 18 and person2_age <= 65) or (person3_age >= 18 and person3_age <= 65)
someone_is_of_working_age

True

In [78]:
someone_is_of_working_age = (
(person1_age >= 18 and person1_age <= 65)
or (person2_age >= 18 and person2_age <= 65)
or (person3_age >= 18 and person3_age <= 65)
)

someone_is_of_working_age

True